<%= form_for(@post, :html => { :multipart => true }) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <% if @post.pictures.any? %>
  Current images:<br>
    <% @post.pictures.each do |p| %>
      <%= image_tag p.imagename_url(:thumb) %> <%= link_to "Delete", p, method: :delete, data: { confirm: 'You sure?' } %><br>
    <% end %>
  <% else %>
    No post attachments yet.
  <% end %>

  <div class="field">
    <%= f.label :imagename, "Add Images" %><br>
    <%= f.file_field :imagename, :multiple => true, name: "pictures[imagename][]" %>
  </div>

  <div class="field">
    <%= f.label :published %><br>
    <%= f.check_box :published %>
  </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
