<div id="postpage">
    <% if @posts.any? %>

        <% @posts.each do |post| %>
        <div class="post">
            <h2><%= post.title %></h2> 

            <% if user_signed_in? %>                
                  <% if current_user.id = post.user_id %>
                    <%= link_to 'Edit', edit_post_path(post) %> | 
                    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% end %>
            <% end %>

            <p><%= post.created_at.strftime("%B %d, %Y") %> - <%= pluralize(post.comments.count, 'comment') %>
                
            </p>
            <p><%= truncate("#{post.body}", length: 200) %></p>
            <%= link_to 'Read More', post, class: "btn btn-success" %>
        </div>
        <% end %>

        <br />

        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>

    <% else %>

    <h3>You don't have any drafts right now.</h3>

    <% end %>
</div>